<!DOCTYPE html>
<html>
<head>
  <title>Mi Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
   
</head>
<body>
<div class="container">
<h1 class="jumbotron">El blog del programador perdido</h1>
<nav class="navbar navbar-default" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Inicio</a>
				</div>
			
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Trabajos <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="http://www.elmundo.es/grafico/economia/2014/10/01/542c442a268e3ee96c8b457c.html">Las cifras del paro</a></li>
                        		<li><a href="http://www.elmundo.es/grafico/economia/2014/10/24/544a3a98268e3ece028b456d.html">Evolución histórica del paro</a></li>
                        		<li><a href="http://www.elmundo.es/grafico/espana/2014/11/03/5453d2e6268e3e8d7f8b456c.html">El mapa de la corrupci&oacute;n</a></li>
							</ul>
						</li>
						<li class=""><a href="monte.html">M&eacute;todo Montecarlo</a></li>
						<li class="active"><a href="blog.html">Blog</a></li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li><a href="" data-toggle="modal" data-target="#myModal">Contacto</a></li>
						
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
<%= yield %>
    <!--Ventana de dialogo que se abre cuando pulsamos el enlace de contacto-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModal-label">Contacto</h4>
                </div>
                <div class="modal-body">
                    <form action="mail.php" method="post" role="form" class="form-horizontal">
				
			
				<div class="form-group has-feedback">
					<label for="email" class="control-label col-md-3">Email</label>
					<div class="col-md-6">
					<input type="email" class="form-control" id="" placeholder="input your email" name="mail" required="required">
					<span class="form-control-feedback glyphicon "></span>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="comentario" class="control-label col-md-3">Comentario</label>
					<div class="col-md-6">
						<div class="input-group">
							
							<input class="form-control" type="textarea" name="comentario" required="required" id="coment"> </input>
							
						</div>
						<span class="glyphicon form-control-feedback"></span>
					</div>
				</div>
				
			
				<button type="submit" class="btn btn-primary" id="register">Enviar</button>
			</form>
                </div>
                <div class="modal-footer">
                                    <div class="alert alert-success hidden" id="alerta-correcto">
				<!--Alert-->
				<h2>Saved data</h2>
				<div>Your information has been submitted</div>
			</div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>
            </div>

        </div>
    </div>	
<!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>
