





<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h2>Editar comentario</h2>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<%= render 'form' %>
	</div>
	<div class="col-md-2"></div>
</div>


<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-2">
				<%= link_to 'Ver', @post %>
			</div>
			<div class="col-md-10">
				<%= link_to 'Volver', posts_path %>
			</div>
		</div>
		
		
	</div>
	<div class="col-md-2"></div>
</div>
