

      <div class="row">
        <p id="notice"><%= notice %></p>


</div>
<div class="row">
  

    <% @posts.each do |post| %>
     
        <div class="tituloPost col-md-offset-2 col-md-10"><h2><%= post.title %></h2></div>
        <div class="cuerpoPost col-md-offset-2 col-md-8"><%= post.body %></div>
</div>
<div class="row">
<div class="col-md-offset-2">
        <%= link_to 'Ver', post %>
        <%= link_to 'Editar', edit_post_path(post) %>
        <%= link_to 'Borrar', post, method: :delete, data: { confirm: '¿Estás seguro?' } %></div>
   
    <% end %>
 </div>




<div class="row">
  <%= link_to 'Nuevo post', new_post_path %>
</div>


      

  

    



