<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h2><%= @post.title %></h2>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="cuerpoPost col-md-8">
		<%= @post.body %>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h2>Comentarios</h2>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8" id="comments">
	<%= render :partial => @post.comments.reverse %>
</div>
<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<%= form_for([@post, Comment.new], remote: true) do |f| %>
<p>
	<%= f.label :body, "Nuevo comentario"%><br>
	<%= f.text_area :body %>
</p>
<p>
	<%= f.submit "Añade comentario" %>
</p>
<% end %>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-2">
				<%= link_to 'Edit', edit_post_path(@post) %>
			</div>
			<div class="col-md-10">
				<%= link_to 'Back', posts_path %>
			</div>
		</div>
		
		
	</div>
	<div class="col-md-2"></div>
</div>

